.fab {
  background: #FF4081;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(112, 112, 112, 0.7);
  z-index: 103;
}

.fab svg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  fill: white;
  transition: transform 1s;
}

.fabMenu {
  position: absolute;
}

.fabMenu div {
  position: absolute;
  background: #66ccff;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  display: none;
 }