.content {
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
}

.menu.touching {
  transition-duration: 0s;
}

.space {
  background: rgba(10,10,10,0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 119;
  display: none;
}
