@import 'GlobalStyle.scss';

.AppWrapper {
  .content {
    box-sizing: border-box;
    font-size: calc(10px + 2vmin);
    color: white;
    
    .fab {
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      font-size: 1rem;
    }
    
    .CardWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: #282c34;
    }
  }
  
  .App-link {
    color: #61dafb;
  }
  
  &.x * {
    background: #000!important;
    color: #0f0!important;
    border: 1px solid red!important;
  }
}

.router-enter {
  opacity: 0;
}
.router-enter-active {
  transition: all .5s;
  opacity: 1;
}
.router-exit {
  opacity: 1;
}
.router-exit-active {
  transition: all .5s;
  opacity: 0;
}