@import 'GlobalStyle.scss';

body {
  background-color: #282c34;
  
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

.AppWrapper {
  .content {
    box-sizing: border-box;
    font-size: calc(10px + 2vmin);
    color: white;
    
    .fab {
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      font-size: 1rem;
    }
    
    .CardWrapper {
      position: relative;
      min-height: 100vh;
    }
  }
  
  .App-link {
    color: #61dafb;
  }
  
  &.x *:not(canvas) {
    background: #000!important;
    color: #0f0!important;
    border: 1px solid red!important;
  }
}

.router-enter {
  opacity: 0;
}
.router-enter-active {
  transition: all .5s;
  opacity: 1;
}
.router-exit {
  opacity: 1;
}
.router-exit-active {
  transition: all .5s;
  opacity: 0;
}